
*{
  box-sizing: border-box;
}

body {
  color: lightBlue;
  background-image: url("../images/background.jpg");
  background-size:1200px;
}

h1 {
  text-align: right;
}

.float {
  float: left;
}

button {
  color:blue;
}

div.container {
  text-align: center;  margin: 0px; padding:0px;
}

.pics {
  height: 150px;
  width:150px;

  padding:5px;

}

firstRow: {
  background-color: white;
}
secondRow: {
  background-color: red;
}
thirdRow: {
  background-color: black;
}



/* pic specific ids .. not sure if it was needed ,.. more for javscript [ID's]
  Top row
  These items removed...classes should be changed to [ID's] in html for
  targeting in javaScript
*/

.yG, .yN, .yB,
.dVG, .dVN, .dVB,
.oBWG, .oBWN, .oBWB,
.mG, .mN, .mB {
  width: auto; margin: 5px; padding:5px; border: 2px; border-style: solid;
}

.yG,
.dVG,
.oBWG,
.mG {
  background-color: white; border-color: orange;
}

.yN, .dVN, .oBWN, .mN {
  background-color: red;
}
.yB, .dVB,
.oBWB,.mB {
  background-color: black;
}


/* top row */
.a, .b, .c, .d {
    display:none;
}


/* middle row*/
.e, .f, .g, .h {
  display:none;
}

/*last row*/
.i, .j, .k, .l {
  display:none;
}

/*Event handlers classes by first letter
 to be removed and added during the game   ex. "xh" */

.ah {

}

.bh {

}

.ch {

}

.dh {

}

.eh {

}

.fh {

}

.gh {

}

.hh {

}

.ih {

}

.jh {

}

.kh {

}

.lh {

}
