
*{
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url("../images/background.jpg");
  background-size:1200px;
}

h1 {
  text-align: right;
}

.float {
  float: left;
}

button {
  color:blue;
}

div.container {
  text-align: center;
}

.pics {
  height: 175px;
}






/* pic specific ids .. not sure if it was needed ,.. more for javscript [ID's]
  Top row
  These items removed...classes should be changed to [ID's] in html for
  targeting in javaScript
*/

.yG, .yN, .yB {
  width: auto;
}


/*

  .mG {
  display:none;
}
.dVG {
  display:none;
}
.oBWG {
  display:none;
}
.yG {
  display:none;
}


/* Middle Row

.mN {
  display:none;
}
.dVN {
  display:none;
}
.oBWN {
  display:none;
}
.yN {
  display:none;
}

/*Bottom row
.mB {
display:none;
}
.dVB {
  display:none;
}
.oBWB {
    display:none;
}
.yB {
    display:none;
}



/*
    a list of elements in alphabetic order for targeting
      abcd-row1
      efgh-row2
      ijkl-row3
*/



/* top row */

.a {
  display:none;
}

.b {
  display:none;
}

.c {
  display:none;
}

.d {
  display:none;
}


/* middle row*/
.e {
  display:none;
}
.f {
  display:none;
}
.g {
  display:none;
}
.h {
  display:none;
}

.i {
  display:none;
}
.j {
  display:none;
}
.k {
  display:none;
}
.l {
  display:none;
}
